//colors

$yellow: #FFE600;
$greyDark: #333333;
$greyMedium: #666666;
$greyLight: #999999;
$greySuperLight: #EEEEEE;
$blue: #3483FA;
$blueHover: #3e34fa;
$white: #FFFFFF;
$red: #f23504e0;

//sizes
$full: 1439px;
$laptop-standard: 1365px;
$laptop-mini: 1279px;
$tablet-xl: 1023px;
$tablet: 719px;
$mobile: 549px;